body{
	overflow: overlay;
}

footer a{
	color: inherit;
	text-decoration: none;
}
footer a:hover{
	color: inherit;
	text-decoration: none;
}

.footer{
	background-color: #ECF9FF;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer p{
	margin: 0;
}

.copyright{
	font-family: HindMadurai-Light;
	color: #FFFFFF;
	text-align: center;
	background: transparent linear-gradient(90deg, #3EB9B7 0%, #23A5E9 100%) 0% 0% no-repeat padding-box;
}

.social-icons{
	text-align: center;
}

.social-icons img{
	width: 20px;
	height: 20px;
	margin: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent linear-gradient(105deg, #0FABEC 0%, #34BE82 100%); 
  /*background: #fff;*/
  border-radius: 10px;
}

:root {
  scrollbar-color: #0FABEC #fff;
  scrollbar-width: thin;
}

@media only screen and (max-width: 600px) {
	.footer{
		padding: 20px;
	}
	.footer-content-div{
		padding: 0;
	}
}